### Load libraries

In [1]:
import os, sys, copy, time
from tqdm.notebook import tqdm
import numpy as np
import pandas as pd
import statsmodels.api as sm

### Load the data

In [2]:
data = pd.read_csv('./../data/final_result.csv')
data

,symbol,banker_name,co_code,company_name,exchange,beta,mes,vulnerable,type,time,binary,nskew,duvol
0,SBIN.NS,STATE BANK OF INDIA,11,20 MICRONS LTD.,NSE,0.247401,0.001617,True,Public,0,0,-0.031853,-0.306464
1,SBIN.NS,STATE BANK OF INDIA,11,20 MICRONS LTD.,NSE,0.247401,0.001617,True,Public,1,1,0.009624,-0.154393
2,SBIN.NS,STATE BANK OF INDIA,389178,A 2 Z INFRA ENGG. LTD.,NSE,0.247401,0.001617,True,Public,1,1,0.001683,0.094062
3,SBIN.NS,STATE BANK OF INDIA,389178,A 2 Z INFRA ENGG. LTD.,NSE,0.247401,0.001617,True,Public,0,0,-0.079382,0.048425
4,SBIN.NS,STATE BANK OF INDIA,289,A B C INDIA LTD.,BSE,0.247401,0.001617,True,Public,0,0,0.009701,-0.045269
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3209,KTKBANK.NS,KARNATAKA BANK LTD.,165297,ORTEL COMMUNICATIONS LTD.,NSE,0.098743,0.001626,True,Private,0,0,0.018751,0.538088
3210,KTKBANK.NS,KARNATAKA BANK LTD.,165319,ORTIN LABORATORIES LTD.,NSE,0.098743,0.001626,True,Private,0,0,-0.092344,-0.332753
3211,KTKBANK.NS,KARNATAKA BANK LTD.,165319,ORTIN LABORATORIES LTD.,NSE,0.098743,0.001626,True,Private,1,0,-0.106369,-0.864495
3212,CUB.NS,CITY UNION BANK LTD.,176994,POLYSPIN EXPORTS LTD.,BSE,0.084847,-0.002707,True,Private,1,0,-0.034252,-0.305465
3213,CUB.NS,CITY UNION BANK LTD.,176994,POLYSPIN EXPORTS LTD.,BSE,0.084847,-0.002707,True,Private,0,0,0.053546,0.614217

### Fixed effect model